<template>
  <div>
    <params
      :stations="Array.from(graph.stations.values())"
      @parmsReady="onParamsReady"
    ></params>
    <Map
      :route="route"
      :graph="graph"
    ></Map>
    <RouteSummary
      v-if="route"
      :route="route"
    ></RouteSummary>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import Params from "./Params.vue"
import RouteSummary from "./RouteSummary.vue"
import Map from "./Map.vue"
import Graph from "./graph"

export default Vue.extend({
  components: {
    Map,
    Params,
    RouteSummary,
  },
  props: {
    graph: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      bundler: "Parcel",
      route: null,
    };
  },
  methods: {
    onParamsReady(params): void {
      this.route = Graph.bellman(this.graph, params.departure, params.arrival, params.elec, params.avoidLGV)
    },
  },
});
</script>
