<template>
  <div id="canvas-wrapper">
    <canvas
      ref="canvas"
    ></canvas>
  </div>
</template>

<script lang="ts">
import Vue from "vue";

export default Vue.extend({
  props: {
    graph: {
      type: Object,
      required: true,
    },
    route: {
      type: Object,
      required: false,
      default: null,
    },
  },
  data() {
    return {
      // By creating the provider in the data property, it becomes reactive,
      // so child components will update when `context` changes.
      provider: {
        // This is the CanvasRenderingContext that children will draw to.
        context: null,
      },
    }
  },

  // Allows any child component to `inject: ['provider']` and have access to it.
  provide () {
    return {
      provider: this.provider,
    }
  },

  mounted () {
    // We can't access the rendering context until the canvas is mounted to the DOM.
    // Once we have it, provide it to all child components.
    this.provider.context = this.$refs['canvas'].getContext('2d')

    // Resize the canvas to fit its parent's width.
    // Normally you'd use a more flexible resize system.
    this.$refs['canvas'].width = this.$refs['canvas'].parentElement.clientWidth
    this.$refs['canvas'].height = this.$refs['canvas'].parentElement.clientHeight

    const context = this.provider.context;
    for (const station of Array.from(this.graph.stations.values())) {
      const coord = this.graph.proj(station, this.$refs['canvas'].width)
      context.beginPath();
      context.arc(coord.x, coord.y, 1, 0, 2 * Math.PI);
      context.stroke();
    }

  },
})
</script>

<style>
#canvas-wrapper {
  width: 300px;
  height: 300px;
}

</style>
