<template>
  <form>
    <label>Route de
      <input
        v-model="departure"
        list="stations"
        @select="maybeEmit"
      >
    </label>
    <label> à
      <input
        v-model="arrival"
        list="stations"
        @select="maybeEmit"
      >
    </label> <br>
    <label> Traction électrique
      <input
        v-model="elec"
        type="checkbox"
        @change="maybeEmit"
      >
    </label> <br>
    <label> Éviter les lignes grande vitesse (>250km/h)
      <input
        v-model="avoidLGV"
        type="checkbox"
        @change="maybeEmit"
      >
    </label>
    <datalist id="stations">
      <option
        v-for="item in stations"
        :key="item.id"
        :value="item.id"
      >
        {{ item.name }}
      </option>
    </datalist>
  </form>
</template>

<script lang="ts">
import Vue from "vue";
function validInt(str: string): boolean {
    return str !== null && Number.isFinite(Number.parseInt(str))
}
export default Vue.extend({
    props: {
        stations: {
            type: Array,
            required: true,
        },
    },
    data() {
        return {
            departure: null,
            arrival: null,
            elec: true,
            avoidLGV: false,
        }
    },
    methods: {
        maybeEmit(): void {
            if (validInt(this.departure) && validInt(this.arrival)){
                this.$emit('parmsReady', {
                    departure: Number.parseInt(this.departure),
                    arrival: Number.parseInt(this.arrival),
                    elec: this.elec,
                    avoidLGV: this.avoidLGV,
                })
            }
        },
    },
})
</script>
