<template>
  <div>
    <div v-if="route !== null && route.nodes.length > 0">
      <dl>
        <dt>Durée</dt>
        <dd>{{ duration }}</dd>
        <dt>Distance</dt>
        <dd>{{ dist(route.distance) }}</dd>
        <dt>Dont distance en ligne à grande vitesse</dt>
        <dd>{{ dist(route.distanceLGV) }}</dd>
        <dt>Dont distance sur ligne électrifiée</dt>
        <dd>{{ dist(route.distanceElec) }}</dd>
      </dl>
    </div>
    <div v-else-if="route !== null">
      <p>Pas de route trouvée</p>
    </div>
    <div v-else>
      <p>Définissez une gare de départ et d’arriver pour lancer le calcul</p>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
export default Vue.extend({
  props: {
    route: {
      type: Object,
      required: true,
    },
  },
  computed: {
    duration(): string{
      const hours = Math.floor(this.route.duration / 60)
      const minutes = String(Math.floor(this.route.duration % 60)).padStart(2, '0')
      return `${hours}:${minutes}`
    },
  },
  methods: {
    dist: (distance: number): string => `${Math.ceil(distance)} km`,
  },
})
</script>

<style scoped>
#map {
  width: 400;
  height: 400;
}
</style>
